.statistics {
    padding: 40px 30px;
    height: 94vh;
    border: 1px solid black;
}

.statistics .heading {
    margin-bottom: 20px;
}

.statistics .display-4 {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
}

.statistics .input-fields {
    margin: 50px 0;
    padding: 5px;
}

.statistics .input-fields .form-control {
    font-size: 20px;
}

.statistics .solutions {
    margin-bottom: 20px;
    padding: 4px;
}

.statistics .solutions .form-control {
    text-align: center;
}